.main-body{
  background-color: #4b5f5f;
  border-radius: 15px;
}
.header{
  color: coral;
}

.name-box{
  color: darkseagreen;
}

.message-container{
  height: 220px;
  background-color: black;
  margin-bottom: 0px;
  overflow: auto;
}

.chat-text-input{
  width: 95%;
}

.send-msg-btn{
  width: 5%; padding: auto;
}

.userchat
{
  margin: 3px;
  overflow: hidden;
}
.innter-item
{
  width: max-content;
  background-color: #fffcd6;
  float: right;
  padding: 5px;
  max-width: 80%;
  word-wrap: break-word;
}
.left-float
{
  float: left;
}
.right-float
{
  float: right;
}
.send-msg-btn{
  padding: auto;
}
.send-msg-btn-icon
{
  margin: auto;
}
.message-data{
  padding: 6px;
}

.no-display{
  display: none;
}